{
  "presets": [
    "env", "react", "stage-2"
  ],
  "plugins": ["syntax-dynamic-import","transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    },
    "production": {
      "plugins": ["transform-react-constant-elements"]
    }
  }
}

